@import "config";
@import "utilities";

// General Stules
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Dosis", sans-serif;
  line-height: 1.6;
  background: #fff;
}

a {
  text-decoration: none;
  color: $dark-color;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

// Logo
#logo {
  width: 70px;
  height: 70px;
  //If don't use img
  color: #fff;
  text-transform: uppercase;
}

//Main Nav
#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;

  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
  }

  a {
    color: #fff;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;

    &:hover {
      border-color: $medium-color;
    }

    &.current {
      border-color: $main-color;
    }
  }
}

// Header
#header {

  //Header Home
  &-home {
    background: $bg-image no-repeat center right / cover;
    height: 100vh;
    color: #fff;

    // Header Content
    .header-content {
      text-align: center;
      padding-top: 20%;

      h1 {
        font-size: 4rem;
        line-height: 1.2;
      }
    }
  }

  //Header Inner
  &-inner {
    background: $bg-image no-repeat 20% 30% / cover;
    height: 5.5rem;
    border-bottom: 3px $main-color solid;
  }
}

// Home Sections
#home {
  &-a {
    .specials {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1rem;
      margin-top: 3rem;
    }

    i {
      color: $main-color;
      padding-bottom: 0.4rem;
    }
  }

  &-b {
    .stats {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      margin-top: 3rem;

      li {
        line-height: 2;

        &.stats-title {
          font-size: 1.5rem;
        }

        &.stats-number {
          font-size: 2rem;
          font-weight: bold;
        }
      }

      div {
        padding: 3rem 0;

        &:nth-child(odd) {
          background: $light-color;
        }

        &:nth-child(even) {
          background: $medium-color;
        }
      }
    }
  }

  &-c {
    .process {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 1.5rem;
      text-align: center;

      &-step {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 28px;
        backgrouND: $main-color;
        border-radius: 50%;
        height: 15px;
        width: 15px;
        line-height: 15px;
        padding: 1rem;
        transition: all 1s;
      }

      &-icon {
        border-radius: 50%;
        background: $dark-color;
        color: #fff;
        padding: 2rem;
        width: 70px;
        height: 70px;
        line-height: 70px;
        text-align: center;
        position: relative;
        transition: all 1s;

        &:hover {
          background: $main-color;
          height: 90px;
          width: 90px;
          line-height: 90px;
          /* transform: scale(1.3); */

          .process-step {
            background: $dark-color;
          }
        }
      }
    }
  }
}

// About Sections
#about {

  // About A
  &-a {
    .about-info {
      display: grid;
      grid-template:
        'bioimg bio bio'
        'aw1 aw2 aw3';
      grid-gap: 1.2rem;
    }

    // Grid Areas
    .bio-img {
      grid-area: bioimg;
    }

    .bio {
      grid-area: bio;
      padding: 0.8rem;
      border-left: 3px $main-color solid;
    }

    .award-1 {
      grid-area: aw1;
    }

    .award-2 {
      grid-area: aw2;
    }

    .award-3 {
      grid-area: aw3;
    }

    .fas {
      color: $main-color;
      margin: 1rem;
    }
  }

  // About B
  &-b {
    .progress {
      overflow: hidden;
      background: $medium-color;
      border-radius: 5px;
      height: 20px;
      width: 100%;
      margin-bottom: .6rem;

      div {
        background: $main-color;
        height: 100%;
      }
    }
  }

  // About C
  &-c {
    .about-logos {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 2rem;

      img {
        width: 70%;
      }
    }
  }

  // About D
  &-d {
    .testimonials {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: .5rem;

      .bio {
        padding: 0.8rem;
        border: 1px $medium-color solid;
        border-radius: 3px;
      }

      .bio-img {

        display: flex;
        align-items: center;

        img {
          border-radius: 50%;
          width: 50px;
          margin-right: .5rem;
        }
      }
    }
  }


}

// Footer
#main-footer {

  background: $dark-color;
  color: #fff;

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .social {
      display: flex;
    }
  }

  li {
    padding: 1rem;
    cursor: pointer;
  }

  i {
    border: 2px #fff solid;
    border-radius: 50%;
    padding: .5rem;

    &:hover {
      background: $main-color;
    }
  }

}